.reservation {
    padding: 2.5rem;
    background-color: var(--container-color);
    position: relative;
}

.reservation-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    z-index: 10;
}

.reservation,
.reservation-form {
    position: relative;
}

.form-input-textArea,
.reservation-btn {
    grid-column: 1/-1;
}

.form-input {
    width: 100%;
    color: var(--title-color);
    background: var(--bg-color);
    border: 1px solid var(--first-color-light);
    padding: 1rem 1.25rem;
}

.reservation,
.form-input {
    border-radius: var(--radius);
}

.form-input::placeholder {
    color: var(--first-color-light);
}

.form-input-textArea .form-input {
    height: 128px;
    resize: none;
}

.reservation-btn {
    justify-self: center;
}

.shape-2,
.shape-3 {
    position: absolute;
    width: 180px;
}

.shape-2 {
    right: 1.25rem;
    top: 2rem;
}

.shape-3 {
    left: 1.25rem;
    bottom: 0.25rem;
}