.testimonial-quote {
    background-color: var(--container-color);
    padding: 2.5rem 2rem 3rem;
    border-radius: var(--radius);
    margin-bottom: 2rem;
    position: relative;
}

.testimonials {
    margin-top: 2rem;
}

.testimonial-icon {
    position: absolute;
    bottom: -1.75rem;
    left: 2.5rem;
    color: var(--container-color);
    font-size: var(--font-size);
}

.testimonial-content {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.testimonial-img-wrapper {
    border: 2px dashed var(--first-color);
    padding: 0.25rem;
    width: 80px;
    height: 80px;
    margin-inline: 1.25rem;
}

.testimonial-img-wrapper,
.testimonial-img {
    border-radius: 50%;
}

.testimonial-title {
    font-size: var(--largest-font-size);
}

.testimonial-rating {
    display: flex;
    column-gap: 0.25rem;
    color: var(--first-color);
    margin-top: 0.25rem;
}